<mat-card>
  <mat-card-header>
    <mat-card-title>{{ item.title }}

    </mat-card-title>
    <mat-card-subtitle>Published by: {{ item.userAlias }} <br>
      <span class="badge" *ngFor="let category of item.categories"
        [ngStyle]="{ 'background-color': category.css_color }">
        {{ category.title }}
      </span>
    </mat-card-subtitle>

    <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ item.description }}
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">
    <div class="btn"><button mat-raised-button color="primary" matBadge="{{ item.num_likes}}" matBadgePosition="before"
        matBadgeColor="accent" (click)="like(item.postId)" [disabled]="!item.showButtons">
        Like
      </button></div>
    <div class="btn">
      <button mat-raised-button matBadge="{{item.num_dislikes}}" matBadgePosition="before" matBadgeColor="warn"
        (click)="dislike(item.postId)" [disabled]="!item.showButtons">
        Dislike
      </button>
    </div>
  </mat-card-actions>
  <mat-card-footer>
    Publication date: {{ item.publication_date | formatDate: 3 }}
  </mat-card-footer>
</mat-card>