<div style="margin-left: auto; margin-right: auto">
  <p id="profileFeedback"></p>
</div>
<div class="container-uoc">
  <h1>Profile</h1>
  <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Name:</mat-label>
        <input matInput type="text" [formControl]="name" />
        <mat-error *ngIf="name.errors && isValidForm != null && !isValidForm && name.errors.minlength">
          Name must be at least 5 characters long.
        </mat-error>
        <mat-error *ngIf="name.errors && isValidForm != null && !isValidForm && name.errors.maxlength">
          Name can be max 25 characters long.
        </mat-error>
        <mat-error *ngIf="name.errors && isValidForm != null && !isValidForm && name.errors.required">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Surname1:</mat-label>
        <input matInput type="text" [formControl]="surname_1" />
        <mat-error *ngIf="surname_1.errors && isValidForm != null && !isValidForm && surname_1.errors.minlength">
          Surname1 must be at least 5 characters long.
        </mat-error>
        <mat-error *ngIf="surname_1.errors && isValidForm != null && !isValidForm && surname_1.errors.maxlength">
          Surname1 can be max 25 characters long.
        </mat-error>
        <mat-error *ngIf="surname_1.errors && isValidForm != null && !isValidForm && surname_1.errors.required">
          Surname1 is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Surname2:</mat-label>
        <input matInput type="text" [formControl]="surname_2" />
        <mat-error *ngIf="surname_2.errors && isValidForm != null && !isValidForm && surname_2.errors.minlength">
          Surname2 must be at least 5 characters long.
        </mat-error>
        <mat-error *ngIf="surname_2.errors && isValidForm != null && !isValidForm && surname_2.errors.maxlength">
          Surname2 can be max 25 characters long.
        </mat-error>
        <mat-error *ngIf="surname_2.errors && isValidForm != null && !isValidForm && surname_2.errors.required">
          Surname2 is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Alias:</mat-label>
        <input matInput type="text" [formControl]="alias" />
        <mat-error *ngIf="alias.errors && isValidForm != null && !isValidForm && alias.errors.minlength">
          Alias must be at least 5 characters long.
        </mat-error>
        <mat-error *ngIf="alias.errors && isValidForm != null && !isValidForm && alias.errors.maxlength">
          Alias can be max 25 characters long.
        </mat-error>
        <mat-error *ngIf="alias.errors && isValidForm != null && !isValidForm && alias.errors.required">
          Alias is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field>
        <mat-label>Birth date:</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="birth_date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="birth_date.errors && isValidForm != null && !isValidForm && birth_date.errors.required">
          Birth date <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput type="email" [formControl]="email" />

        <mat-error *ngIf="email.errors && isValidForm != null && !isValidForm && email.errors.pattern">
          Email not a valid format.
        </mat-error>
        <mat-error *ngIf="email.errors && isValidForm != null && !isValidForm && email.errors.required">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input matInput type="password" [formControl]="password" />
        <mat-error *ngIf="password.errors && isValidForm != null && !isValidForm && password.errors.minlength">
          Password must be at least 8 characters long.
        </mat-error>
        <mat-error *ngIf="password.errors && isValidForm != null && !isValidForm && password.errors.required">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section style="text-align: center;">
      <button mat-raised-button color="primary" type="submit">Update User</button>
    </section>
  </form>
</div>